html,
body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .5s;
}

html,
body:focus {
    outline: none !important;
}

h1 {
    color: white;
    transition: .5s;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#thankYouSection {
    display: none;
}

/* #ratingSection {
    display: none;
} */

.rating {
    width: 400px;
    height: 350px;
    border-radius: 20px;
    background-color: hsl(213, 19%, 18%);
    padding: 2em;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    display: flex;
    flex-direction: column;
    transition: .5s;
}

.starCircularDiv {
    width: 18px;
    height: 18px;
    display: flex;
    background-color: hsl(214, 20%, 25%);
    padding: 1em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.notSelected {
    width: 18px;
    height: 18px;
    display: flex;
    background-color: hsl(214, 20%, 25%);
    padding: 1em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: hsl(216, 12%, 54%);
    transition: background-color 0.2s;
    transition: .5s;
}

.selected {
    background-color: hsl(217, 12%, 63%);
    color: white;
    cursor: pointer;
    transition: .5s;
}

.notSelected:hover {
    background-color: hsl(217, 12%, 63%);
    color: white;
    cursor: pointer;
}

#starImage {
    width: 17px;
    height: 16px;
    fill: hsl(25, 100%, 50%);
    transition: .5s;
}

.textContent {
    color: hsl(216, 12%, 54%);
    margin-bottom: 2em;
    transition: .5s;
}

#ratingNum {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    transition: .5s;
}

#submitButtonDiv {
    display: flex;
    transition: .5s;
}

#submitButton {
    width: 350px;
    height: 50px;
    text-decoration: none;
    background-color: hsl(25, 100%, 50%);
    border-radius: 30px;
    margin: auto;
    transition: .5s;
}

#submitButton:hover {
    background-color: hsl(25, 87%, 40%);
    color: hsl(217, 23%, 89%);
    cursor: pointer;
    transition: .5s;
}

button {
    background: none;
    border-style: none;
    transition: background-color 0.2s;
    transition: .5s;
}

.error {
    border: 1.5px solid rgb(202, 0, 0);
    transition: .5s;
}


.thankYou {
    width: 350px;
    height: 300px;
    border-radius: 20px;
    background-color: hsl(213, 19%, 18%);
    padding: 2em;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transition: .5s;
}

#thankYouImage {
    width: 162px;
    height: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    transition: .5s;
}

#ratingText {
    background-color: hsl(214, 20%, 25%);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    border-radius: 30px;
    color: hsl(25, 87%, 40%);
    transition: .5s;
}


@media (max-width: 480px) {
    .rating {
        width: 300px;
        height: 285px;
        padding: 1em;
    }

    #starImage {
        width: 14px;
        height: 12px;
    }

    .starCircularDiv {
        width: 12px;
        height: 12px;
    }

    h1 {
        font-size: larger;
    }

    .textContent {
        font-size: smaller;
        margin-bottom: 1.5em;
    }

    #submitButton {
        width: 250px;
        height: 40px;
        font-size: small;
    }

    .notSelected {
        width: 12px;
        height: 12px;
        font-size: smaller;
    }

    #ratingNum {
        margin-bottom: 1.5em;
    }


    .thankYou {
        width: 285px;
        height: 225px;
    }


    #thankYouImage {
        width: 115px;
        margin-top: 1.5em;
        margin-bottom: 1em;
        transition: .5s;
    }

    #ratingText{
        font-size: smaller;
    }
}